<div class="row">
  <div class="col-md-4">
     <%= image_tag('akshay.jpg', title: 'Blog', height: 250, width: 300, :class => "thumbnail") %>
  </div>
  <div class="col-md-8">
   <h1> Hey, I'm Akshay Kumar </h1>
       <p> I am a web developer with extensive knowledge and experience using Ruby on Rails.My most recent technological interests and passions include the AngularJS front-end java script framework, object oriented JavaScript and experimenting with testing tools Cucumber and Rspec.</p>
      <p>You can find some of my work on this blog at https://rubysolutions.wordpress.com and on my Github account https://github.com/akshaysn1991.</p>

      <b>Technical Expertise:</b>
      <ul>
        <li>Programming Languages: Ruby (1.9.x, 2.0.0, 2.1.x, 2.2.x), Core Java</li>
        <li>Framework: Rails (3.2.x, 4.0.0, 4.2.x)</li>
        <li>Web Technologies: HTML, CSS, Ajax, Haml, Data Structures, Analysis and Design of Algorithms and Twitter Bootstrap 3</li>
        <li>Scripting Languages: jQuery, AngularJS and Object Oriented Java Script</li>
        <li>Programming Editors/IDEs : Sublime and Aptana Studio</li>
        <li>Source Code Control: Git and Rabbit SVN</li>
        <li>Source Code Management: Github, Stash and Bitbucket</li>
        <li>Test Tools: Rspec, Cucumber and Spinach</li>
        <li>Operating Systems: Windows 7/XP/VISTA and Linux</li>
        <li>Databases: My SQL, MongoDB</li>
      </ul>
      <b>Contact Details:</b>
      <ul>
        <li><b>Email:</b> akshaysn1991@gmail.com
        <li><b>Skype:</b> akshaysn1991</li>
        <li><b>Facebook:</b> https://www.facebook.com/akshay.kumar.33</li>
      </ul>
    </div>
</div>







